[package]
name = "cbse-logs"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
tracing.workspace = true
tracing-subscriber.workspace = true
colored.workspace = true
once_cell.workspace = true
